*.suo
*.opendb
*.db
*.ipch
*.user

Windows/Qing/x64/*
Windows/QingLite/x64/*
Windows/QingLite/ToolLite/x64/*
Windows/QingLite/ServerLite/x64/*
Windows/QingLite/ClientLite/x64/*
Windows/Deployment/Debug/*
Windows/Deployment/Release/*
